html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#111;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;

    width: 800px;
    height: 600px;
}

table {
    border-collapse: collapse;

    width: 640;
    max-width: 640;

    border: solid 1px;
}

th {
    width: 90px;

    text-align: center;
    border: solid 1px;

    background-color:cornflowerblue;
    color:black;

    margin: 0;
    padding: 0;
}

td {
    width: 90px;

    text-align: center;
    border: solid 1px;

    margin: 0;
    padding: 0;

    background-color: #999;
}

.status {
    width: 150px;
    max-width: 150px;

    border: 0;
}

.status td, .status th {
    width: 15px;
    max-width: 15px;
    border: 0;

    background-color:#aaa;
}

.status th {
    border-bottom: 1px solid;
}

.status th:nth-child(even) {background-color:#ddd}
.status td:nth-child(even) {background-color:#ddd}

#stack .selected {
    background-color: #ddd;
}

#start {
    background-color: green;
}

#stop {
    background-color: red;
}

#step {
    background-color: blue;
}

#stepmany {
    background-color: purple;
}

#reset {
    background-color:black;
}

#rampdump {
    background-color:aqua;
}
